page-card-detail {
  --card-background-color: salmon;
}

/* https://3dtransforms.desandro.com/card-flip */
.scene {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: transform 1s;
  transform-origin: center right;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #7f7f7f;
}

.card__face--front {
  background: #7f7f7f;
}

.card__face--front poker-card div {
  font-size: x-large;
}

.card.is-flipped .card__face--front poker-card div {
  visibility: hidden;
}

.card__face--back {
  background: var(--card-background-color);
  transform: rotateY(180deg);
}

.card__face--back poker-card div {
  font-size: 1500%;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
